.services-container {
    width: 90%;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    color: #0D141C;
}

.services-container h2 {
    font-size: 3.2vw;
    font-weight: 700;
    margin: 0 0 1.8vw 0.8vw;
}

.services-item-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.services-item-container h3 {
    color: #0D141C;
    margin: 0;
    font-size: 2vw;
    font-weight: 600;
}

.services-item-container p {
    color: #0D141C;
    font-size: 1.3vw;
    font-weight: 400;
    margin: 0;
}

.services-item {
    flex: 1 1 calc(31% - 0.5vw);
    box-sizing: border-box;
    margin: 0.6vw;
}

.services-item-img-container {
    width: 100%;
    overflow: hidden;
    justify-content: center;
    border-radius: 20px;
    aspect-ratio: 16 / 9;
}

.services-item-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.services-item-discrip{
    margin-top: 2vw;
    margin-bottom: 2vw;
}

@media screen and (max-width: 1024px) {
    .services-item {
        flex: 1 1 calc(50% - 1rem);
    }
    .services-container h2 {
        font-size: 3vw;
    }
    .services-item-container h3 {
        font-size: 2.5vw;
    }
    .services-item-container p {
        font-size: 2vw;
    }
    .services-item-img-container {
        aspect-ratio: 2.35 / 1;
    }
    .services-item:nth-of-type(3) .services-item-img-container{
        aspect-ratio: 2.35 / 0.6;
    }
}

@media screen and (max-width: 660px) {
    .services-item {
        flex: 1 1 calc(100% - 1rem);
    }
    .services-container h2 {
        font-size: 7vw;
        margin: 5vw 0 5vw 0;
    }
    .services-item-container h3 {
        font-size: 5vw;
    }
    .services-item-container p {
        font-size: 4vw;
    }

    .services-item:nth-of-type(3) .services-item-img-container{
        /*max-width: 50%;*/
        aspect-ratio: 2.35 / 1;
    }
}