.registration-form-container{
    position : absolute;
    width:30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.registration-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.registration-container input{
    padding: 0.8vw 0 0.8vw 1.8vw;
    margin: 0.8vw;
    width: calc(100% - 1.4vw);
    font-size: 1.2vw;
    background-color: #DBDBDB;
    color: #5A5A5A;
    border-radius: 5vw;
    border: none;
}


.registration-container input:focus{
    outline-width: 1px;
    outline-color: #5A5A5A;
}

.registration-form-buttons{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#registration-button, #registration-login-button{
    padding: 0.8vw 0;
    margin-top: 0.8vw;
    width: 45%;
    font-size: 1.2vw;
    color: white;
    border: none;
    background-color: #1a80e5;
    border-radius: 5vw;
}

@media screen and (max-width: 780px){
    .registration-form-container{
        width:50%;
        transform: translate(-50%, -50%);
    }

    .registration-container input{
        padding: 1.5vw 0 1.5vw 3.5vw;
        margin: 1.5vw;
        width: calc(100% - 2vw);
        font-size: 2.2vw;
    }

    #registration-button, #registration-login-button{
        padding: 1.5vw 0;
        margin-top: 1.5vw;
        width: 45%;
        font-size: 2.2vw;
        border-radius: 3vw;
    }

    #registration-button{
        width: 55%;
    }
    #registration-login-button{
        width: 40%;
    }
}

@media screen and (max-width: 426px){
    .registration-form-container{
        width:70%;
        transform: translate(-50%, -50%);
    }

    .registration-container input{
        padding: 2.5vw 0 2.5vw 4.5vw;
        margin: 2.5vw;
        width: calc(100% - 2vw);
        font-size: 4.5vw;
    }
    #registration-button, #registration-login-button{
        padding: 2.5vw 0;
        margin-top: 2.5vw;
        width: 47%;
        font-size: 4vw;
        border-radius: 5vw;
    }

    #registration-button{
        width: 60%;
    }
    #registration-login-button{
        width: 35%;
    }
}