.nav-container {

    margin-bottom: 1.5vw;
    border-bottom-width: 0.15vw;
    border-bottom-color: #E5E8EB;
    border-bottom-style: solid;
}
.sevsu-head{
    width: 90%;
    margin: 1.7vw auto 1vw auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    color: #0D141C;
}

.sevsu-logo{
    height: 2.5vw;
}

.university-name{
    font-family: Inter, sans-serif;
    padding-left: 1.5vw;
    font-size: 1.5vw;
    font-weight: 800;
    margin: 0;
}


@media screen and (max-width: 660px){
    .sevsu-head{
        display: none;
    }
    .nav-container {
        border-bottom-color: white;
    }
}